:root {
  /* Base colors */
  --daywaves-blue: hsl(230deg 40% 60% / 100%);
  --bg-gray: hsl(0deg 0% 11% / 100%);
  --element-gray: hsl(0deg 0% 14% / 100%);
  --highlight-gray: hsl(0deg 0% 17% / 100%);
  --light-gray: hsl(0deg 0% 35% / 100%);
  --almost-white: hsl(0deg 0% 73% / 100%);
  --intense-red: hsl(0deg 60% 40% / 100%);
  --intense-green: hsl(120deg 60% 40% / 100%);

  /* Semantic colours */
  --color-background: var(--bg-gray);
  --color-text: var(--almost-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-style: normal;
}

body {
  user-select: none;

  overflow: hidden;

  text-rendering: optimizelegibility;

  background: var(--color-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--color-text);
}

body * {
  font-weight: 700;
}
