:root {
/* Base colors */
  --daywaves-blue: hsla(230, 40%, 60%, 1);
  --bg-gray: hsla(0, 0%, 11%, 1);
  --element-gray: hsla(0, 0%, 14%, 1);
  --highlight-gray: hsla(0, 0%, 17%, 1);
  --light-gray: hsla(0, 0%, 35%, 1);
  --almost-white: hsla(0, 0%, 73%, 1);
  --intense-red: hsla(0, 60%, 40%, 1);
  --intense-green: hsla(120, 60%, 40%, 1);
}

/* Semantic colours */
:root {
  --color-background: var(--bg-gray);

  --color-text-1: var(--almost-white);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100%;

  overflow: hidden;
  user-select: none;

  background: var(--color-background);
  color: var(--almost-white);

  line-height: 1;

  font-family:
    'Nunito Sans',
    sans-serif;
  font-size: 14px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-weight: 700;
}