@import './base.css';

#app {
  background: var(--color-background);
}

img {
  pointer-events: none;
}

h1,
.font-menu-title {
  font-size: 24px;
  font-weight: 800;
}

h2,
.font-small-menu-title {
  font-size: 16px;
  font-weight: 800;
}

.font-standard-xl {
  font-size: 20px;
}

label,
.font-standard-large {
  font-size: 18px;
}

.font-standard-small {
  font-size: 10px;
}

.font-count {
  font-size: 12px;
}

input,
textarea,
select {
  border: 1px solid var(--light-gray);
  background: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border: 1px solid var(--daywaves-blue);
}

select {
  cursor: pointer;
}

::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  color: var(--light-gray);
}